
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


/* shared style */

.btn-primary{
    background-color:#FF900E ;
    color:white ;
    font-size:1.25rem ;
    font-weight:500 ;
    border: none;
    border-radius: 8px;
}
main > section{
     margin-top: 85px;
}
.dark-3{
    color:#727272 ;
    font-weight: 500;
    font-size: 2.25rem;
}

.dark-1{
    color:#131313 ;
    font-weight: 700;
    font-size: 2.25rem;
}

.orange{
    color: #FF900E;
    font-weight: 700;
    font-size: 2.25rem;
}



.header-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar design */

.display{
    display: flex;
}


.brand{
   justify-content: space-between;
   align-items: center;
}

.nav-title{
    font-weight: 700;
    font-size: 3rem;
}

.item{
    margin-right: 30px;
    list-style: none;
}

.brand, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.banner img{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.team{
    align-items: center;
   
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    
}

.features-content{
    margin-left:73px ;
    max-width: 530px;
}

/* somr fact section */
    .fact-icon{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       
    }

    .fact-content{
         border: 1px solid #FF900E ;
         height: 241px;
         width: 241px;
         border-radius: 8px;
         align-items: center;
         justify-content: center;
         text-align: center;
       
    }

    .fact-num{
        font-size: 2.25rem;
        font-weight: 600;
    }

   .award{
    font-size: 1.25rem;
    font-weight:600 ;
    margin-bottom: 10px;
   }

   .fact-description{
    max-width: 540px;
   }

   .sponspor-container{
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
  
   }

   .sponspor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   }

   .sponspor-company img{
    filter: grayscale(100%);
   }


/* small device media query */
@media screen and (max-width:576px) {
    .brand, .navbar, .team{
        flex-direction: column;
    }
 
    .team-image, .fact-icon, .sponspor-company{
        grid-template-columns: repeat(1,1fr);
    }
    .fact-icon{
        justify-items: center;
        gap: 24px;
    }

    .sponspor-company{
        gap: 50px;
        justify-items: center;
    }
}


/* medium device size */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }
   .fact-icon{
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
   }

   .sponspor-company{
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
   }


}